.env
.terraform/
coverage/
venv/
.venv/
env/
.DS_STORE
.vscode
*.code-workspace
*.sha256
terraform.tfstate
.mypy_cache
docker
secrets.yaml
__pycache__
.pytest_cache
.coverage
htmlcov
.idea/
megalinter-reports/
