{% from 'govuk_frontend_jinja/components/input/macro.html' import govukInput %}
{% from 'govuk_frontend_jinja/components/button/macro.html' import govukButton %}
{% from 'govuk_frontend_jinja/components/checkboxes/macro.html' import govukCheckboxes %}
{% from 'govuk_frontend_jinja/components/header/macro.html' import govukHeader %}
{% from 'govuk_frontend_jinja/components/phase-banner/macro.html' import govukPhaseBanner %}

{% extends 'govuk_frontend_jinja/template.html' %}

{% block pageTitle %}
    Operations Engineering Landing Page PoC
{% endblock %}

{% block head %}
    <title>Operations Engineering Landing Page PoC</title>
    <!-- Manually set the govuk frontend version in line below and bottom of this file -->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='stylesheets/govuk-frontend-4.3.0.min.css') }}"/>
    <link rel="canonical" href="https://operations-engineering-landing-page-poc.cloud-platform.service.justice.gov.uk/">
    <meta property="og:site_name" content="Operations-Engineering Landing Page PoC"/>
    <meta property="og:title" content="Operations-Engineering Landing Page PoC"/>
    <meta property="og:type" content="object"/>
    <meta property="og:url"
          content="https://operations-engineering-landing-page-poc.cloud-platform.service.justice.gov.uk/"/>
{% endblock head %}

{% block header %}
  {{ govukHeader({
    'homepageUrl': 'https://github.com/ministryofjustice/operations-engineering-landing-page-poc',
    'serviceName': 'Operations-Engineering Landing Page PoC',
    'serviceUrl': 'https://github.com/ministryofjustice/operations-engineering-landing-page-poc'
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    'tag': {
      'text': 'DEV'
    },
    'html': 'This is a new service – your <a class="govuk-link" href="mailto:' + 'operations-engineering@digital.justice.gov.uk' +'?subject=Feedback">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block bodyEnd %}
    <!-- Manually set the govuk frontend version in the line below -->
    <script src="{{ url_for('static', filename='javascript/govuk-frontend-4.3.0.min.js') }}"></script>
    <script>window.GOVUKFrontend.initAll()</script>
{% endblock bodyEnd %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{{ govukErrorSummary({
'titleText': "There is a problem",
'errorList': [{ 'text': message}]
}) }}
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}