{% from 'govuk_frontend_jinja/components/input/macro.html' import govukInput %}
{% from 'govuk_frontend_jinja/components/button/macro.html' import govukButton %}
{% from 'govuk_frontend_jinja/components/checkboxes/macro.html' import govukCheckboxes %}
{% from 'govuk_frontend_jinja/components/error-message/macro.html' import govukErrorMessage %}
{% from 'govuk_frontend_jinja/components/error-summary/macro.html' import govukErrorSummary %}
{% from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink %}
{% from 'govuk_frontend_jinja/components/fieldset/macro.html' import govukFieldset %}
{% from 'govuk_frontend_jinja/components/footer/macro.html' import govukFooter %}
{% from 'govuk_frontend_jinja/components/header/macro.html' import govukHeader %}
{% from 'govuk_frontend_jinja/components/hint/macro.html' import govukHint %}
{% from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText %}
{% from 'govuk_frontend_jinja/components/label/macro.html' import govukLabel %}
{% from 'govuk_frontend_jinja/components/notification-banner/macro.html' import govukNotificationBanner %}
{% from 'govuk_frontend_jinja/components/panel/macro.html' import govukPanel %}
{% from 'govuk_frontend_jinja/components/phase-banner/macro.html' import govukPhaseBanner %}
{% from 'govuk_frontend_jinja/components/radios/macro.html' import govukRadios %}
{% from 'govuk_frontend_jinja/components/select/macro.html' import govukSelect %}
{% from 'govuk_frontend_jinja/components/skip-link/macro.html' import govukSkipLink %}
{% from 'govuk_frontend_jinja/components/summary-list/macro.html' import govukSummaryList %}
{% from 'govuk_frontend_jinja/components/table/macro.html' import govukTable %}
{% from 'govuk_frontend_jinja/components/tabs/macro.html' import govukTabs %}
{% from 'govuk_frontend_jinja/components/tag/macro.html' import govukTag %}
{% from 'govuk_frontend_jinja/components/textarea/macro.html' import govukTextarea %}
{% from 'govuk_frontend_jinja/components/warning-text/macro.html' import govukWarningText %}

{% extends 'govuk_frontend_jinja/template.html' %}

{% block pageTitle %}
    Operations Engineering Landing Page PoC
{% endblock %}

{% block head %}
    <title>Operations Engineering Landing Page PoC</title>
    <!-- Manually set the govuk frontend version in line below and bottom of this file -->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='stylesheets/govuk-frontend-4.3.0.min.css') }}"/>
    <link rel="canonical" href="https://operations-engineering-landing-page-poc.cloud-platform.service.justice.gov.uk/">
    <meta property="og:site_name" content="Operations-Engineering Landing Page PoC"/>
    <meta property="og:title" content="Operations-Engineering Landing Page PoC"/>
    <meta property="og:type" content="object"/>
    <meta property="og:url"
          content="https://operations-engineering-landing-page-poc.cloud-platform.service.justice.gov.uk/"/>
{% endblock head %}

{% block header %}
    <div class="app-pane__header toc-open-disabled">
        <header class="govuk-header app-header" role="banner" data-module="govuk-header">
            <div class="govuk-header__container govuk-header__container--full-width">
                <div class="govuk-header__logo">
                    <a class="govuk-header__link govuk-header__link--homepage" href="/">
          <span class="govuk-header__product-name">
            Operations-Engineering Landing Page PoC
          </span>
                    </a>
                </div>
                <div class="govuk-header__content">
                    <nav class="govuk-header__navigation govuk-header__navigation--end">
                        <ul class="govuk-header__navigation-list">
                            <li class="govuk-header__navigation-item">
                                <a class="govuk-header__link"
                                   href="https://github.com/ministryofjustice/operations-engineering-landing-page-poc">
                                    GitHub
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </div>
{% endblock %}

{% block bodyEnd %}
    <!-- Manually set the govuk frontend version in the line below -->
    <script src="{{ url_for('static', filename='javascript/govuk-frontend-4.3.0.min.js') }}"></script>
    <script>window.GOVUKFrontend.initAll()</script>
{% endblock bodyEnd %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{{ govukErrorSummary({
'titleText': "There is a problem",
'errorList': [{ 'text': message}]
}) }}
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}