{% extends "components/base.html" %}

{% block pageTitle %}
Using SSO for GitHub Access
{% endblock %}

{% block beforeContent %}
{{ govukBackLink ({
'text': 'Back',
'href': '/select-organisations'
}) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Using Single Sign-On Access</h1>

<p class="govuk-body">
  Your email address <strong>{{email}}</strong> is registered for Single Sign-On (SSO) access to the "ministryofjustice"
  GitHub
  organisations. SSO
  is a convenient
  method that enables access to multiple services with one set of login credentials.
</p>
<p class="govuk-body">
  Click the button below for the chosen organisation to open a secure login
  page.
</p>

<p class="govuk-body">
  Enter your @digital.justice.gov.uk credentials there to automatically join the selected GitHub
  organisation.
</p>

{% if 'ministryofjustice' in org_selection %}
<a href="https://github.com/orgs/ministryofjustice/sso" class="govuk-button" role="button" target="_blank">
  Join Ministry of Justice
</a>
{% endif %}


<p class="govuk-body">
  If you require further assistance, contact us on the Operations Engineering team Slack channel <a
    href="https://mojdt.slack.com/archives/C01BUKJSZD4" class="govuk-link">#ask-operations-engineering</a>.
</p>
{% endblock %}