{% extends "components/base.html" %}

{% block pageTitle %}
GitHub Access via Azure AD
{% endblock %}

{% block beforeContent %}
{{ govukBackLink ({
'text': 'Back',
'href': '/select-organisations'
}) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">GitHub Access via Azure Active Directory (AD)</h1>

<p class="govuk-body">
  Your email address <strong>{{email}}</strong> is registered for access to the Ministry of Justice GitHub organisations
  via Azure
  Active Directory (AD). Azure AD is a secure and convenient method that allows you to use your @justice.gov.uk
  credentials to access multiple services.
</p>
<p class="govuk-body">
  After clicking the button below, you will be directed to a secure Azure AD login page.
</p>

<p class="govuk-body">
  Once you enter your @justice.gov.uk credentials, you will automatically be added to the selected GitHub
  organisation.
</p>
{% for org in org_selection %}
<form action="/login" method="get">
  <button type="submit" class="govuk-button">Authenticate to {{ org | capitalize }}</button>
</form>
{% endfor %}

<p class="govuk-body">
  If you require further assistance, contact us on the Operations Engineering team Slack channel <a
    href="https://mojdt.slack.com/archives/C01BUKJSZD4" class="govuk-link">#ask-operations-engineering</a>.
</p>
{% endblock %}