{% extends "components/base.html" %}

{% block pageTitle %}
Submit Email Address
{% endblock %}

{% block beforeContent %}
{{ super() }}
{{ govukBackLink ({
'text': 'Back',
'href': '/'
}) }}
{% endblock %}

{% block content %}
{{ super() }}

<form action="/submit-email" method="POST">
    {{ govukInput({
        'classes': 'govuk-!-width-one-half',
        'label': {
            'text': 'Email address',
            'classes': 'govuk-label--l',
            'isPageHeading': 'true',
        },
        'hint': {
            'text': 'Please provide the email address you want to join with.'
        },
        'id': 'email_address',
        'name': 'emailAddress',
    }) }}

    {{ govukButton({
        'text': "Next"
        }) }}
</form>

{% endblock %}