{% extends "base.html" %}

{% block content %}
<h1 class="govuk-heading-xl">Internal Error</h1>

<p class="govuk-body">
  There was an intenal error:
</p>

<p class="govuk-body">
  {{ error_message }}
</p>

<p class="govuk-body">
  Please contact the Operations-Engineering team on Slack <a href="https://mojdt.slack.com/archives/C01BUKJSZD4" class="govuk-link">#ask-operations-engineering</a> with details of the request and the error message.
</p>

<a href="/home" class="govuk-back-link">Back</a>

{% endblock %}
