{% extends "base.html" %}

{% block content %}
<h1 class="govuk-heading-xl">Joining GitHub</h1>

<h3 class="govuk-heading-l">Digital Justice Emails Addresses</h3>

<p class="govuk-body">
  Users with a @digital.justice.gov.uk email address can join the MoJ GitHub Organization using the Single Sign On <a class="govuk-link" href="https://github.com/orgs/ministryofjustice/sso">https://github.com/orgs/ministryofjustice/sso</a> link.
</p>

<p class="govuk-body">
  Please also complete this <a class="govuk-link" href="/join-github-form.html">form</a> for our records.
</p>

<h3 class="govuk-heading-l">Pre-Approved Emails Addresses</h3>

<p class="govuk-body">
  Users with one of the following approved email addresses can join the MoJ GitHub Organization:
  <ul class="govuk-list govuk-list--bullet">
    <li>@digital.justice.gov.uk</li>
    <li>@justice.gov.uk</li>
    <li>@publicguardian.gov.uk</li>
    <li>@cica.gov.uk</li>
    <li>@ima-citizensrights.org.uk</li>
  </ul>
</p>

<p class="govuk-body">
  Users with one of the following approved email addresses can join the analytical-services GitHub Organization:
  <ul class="govuk-list govuk-list--bullet">
    <li>@digital.justice.gov.uk</li>
    <li>@justice.gov.uk</li>
    <li>@publicguardian.gov.uk</li>
    <li>@judicialappointments.gov.uk</li>
    <li>@judiciary.uk</li>
    <li>@ppo.gov.uk</li>
    <li>@sentencingcouncil.gov.uk</li>
    <li>@yjb.gov.uk</li>
  </ul>
</p>

<p class="govuk-body">
  Complete the <a class="govuk-link" href="/join-github-form.html">form</a> to gain access.
</p>

<h3 class="govuk-heading-l">Other Users</h3>

<p class="govuk-body">
  Complete the <a class="govuk-link" href="/join-github-form.html">form</a> to request MoJ GitHub Organization and/or analytical-services GitHub Organization access.
</p>

<h3 class="govuk-heading-l">External Users</h3>

<p class="govuk-body">
  External users can get access to an Organization repository as an Outside Collaborator.
</p>

<p class="govuk-body">
  For access to a MoJ GitHub Organization repository see <a class="govuk-link" href="https://github.com/ministryofjustice/github-collaborators">https://github.com/ministryofjustice/github-collaborators</a>.
</p>

<p class="govuk-body">
  For access to a analytical-services GitHub Organization repository see <a class="govuk-link" href="https://github.com/moj-analytical-services/github-outside-collaborators">https://github.com/moj-analytical-services/github-outside-collaborators</a>.
</p>

<a href="/home" class="govuk-back-link">Back</a>

{% endblock %}
