{% extends "base.html" %}

{% block pageTitle %}
Use Slack
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Request Pending</h1>

<h2 class="govuk-heading-m">Thank you! Your request to rejoin the Organisation/s has been sent to the Operations-Engineering team.</h2>

<p class="govuk-body">
  A request has been created on the Operations-Engineering team Slack channel <a href="https://mojdt.slack.com/archives/C01BUKJSZD4" class="govuk-link">#ask-operations-engineering</a>.
</p>

<p class="govuk-body">
  Email invites to rejoin the Organisation/s will be sent out soon.
</p>

<p class="govuk-body">
  If you need more assistance find your request in the Slack channel.
</p>

<a href="/home" class="govuk-back-link">Back</a>

{% endblock %}
