{% extends "base.html" %}

{% block content %}
<h1 class="govuk-heading-xl">Request Pending</h1>

<h2 class="govuk-heading-m">Thank you the provided email address is not pre-approved.</h2>

<p class="govuk-body">
  A request has been created on the Operations-Engineering team Slack channel <a href="https://mojdt.slack.com/archives/C01BUKJSZD4" class="govuk-link">#ask-operations-engineering</a>.
</p>

<p class="govuk-body">
  Please find your request in the Slack channel and we can discuss the request together.
</p>

<a href="/home" class="govuk-back-link">Back</a>

{% endblock %}
