{% extends "components/base.html" %}

{% block pageTitle %}
    Join Selected Orgs
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl">Selection</h1>

    <p class="govuk-body">
      You have selected to join the following organisations: {{org_selection}} 
      <br>
      With the following email address: {{email}}
    </p>


    <p class="govuk-body">
        If you require further assistance contact us on the Operations Engineering team Slack channel <a
            href="https://mojdt.slack.com/archives/C01BUKJSZD4" class="govuk-link">#ask-operations-engineering</a>.
    </p>

    <a href="/" class="govuk-back-link">Back</a>

{% endblock %}
