{% extends "components/base.html" %}

{% block pageTitle %}
    Invitation sent
{% endblock %}

{% block beforeContent %}
{{ super() }}
{{ govukBackLink ({
'text': 'Back',
'href': '/'
}) }}
{% endblock %}

{% block content %}

    {{ govukPanel({
        'titleText': 'Invitation sent to',
        'html': email
    }) }}

    <p class="govuk-body">
        Please find an email invite from GitHub in your inbox and follow
        instructions to join the {{org_selection_string}} GitHub Organisation.
    </p>
    <p class="govuk-body">
        If you require further assistance contact us on the Operations Engineering team Slack channel <a
            href="https://mojdt.slack.com/archives/C01BUKJSZD4" class="govuk-link">#ask-operations-engineering</a>.
    </p>

{% endblock %}
