{% extends "components/base.html" %}

{% block pageTitle %}
GitHub Access Invitation
{% endblock %}

{% block beforeContent %}
{{ super() }}
{{ govukBackLink ({
'text': 'Back',
'href': '/join/select-organisations'
}) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Verify your work email address</h1>

<p class="govuk-body">
  To access the Ministry of Justice GitHub organisations you've selected, your email address <strong>{{email}}</strong>
  will be verified using Azure Active Directory (AD).
  secure step is essential to confirm your identity and initiate the process of joining our GitHub organisations.
  With "This secure step is essential to confirm your identity and initiate the process of joining our GitHub organisations.
</p>

<p class="govuk-body">
  By clicking the button below, you will be redirected to a secure sign-on page where you will be asked to confirm your Office 365 login details.
</p>

<p class="govuk-body">
  After successfully authenticating with your @justice.gov.uk credentials, GitHub will send an invitation to 
  <strong>{{email}}</strong>. You will need to accept this invitation to join the selected GitHub organisation. 
  After successful verification a GitHub invitation will be sent to your work email address. 
  You will need to accept this invitation to join the selected GitHub organisation.

</p>

<form action="/auth/login" method="get">
  <button type="submit" class="govuk-button">Verify </button>
</form>

<p class="govuk-body">
  If you require further assistance or have any questions, feel free to contact our Operations Engineering team via the
  Slack channel <a href="https://mojdt.slack.com/archives/C01BUKJSZD4"
    class="govuk-link">#ask-operations-engineering</a>.
</p>
{% endblock %}